/*About styling start*/
#aboutBanner{
    background-image: url("../images/carresimg.jpg");

    width: 100%;
    height:490px;
    background-position: center;
    background-size: cover;


}
#aboutBanner-text{
    position: relative;


    top: 170px;
}
/*About styling end*/


